                    /*login y registrase*/

                    .body_login {
                        font-family: "Chakra Petch", sans-serif;
                        margin: 0;
                        background: url(../assets/backgrounds/background-login.png);
                        background-size: cover;
                        background-attachment: fixed;
                      }
                      * {
                        box-sizing: border-box;
                      }
                      .header_login {
                        width: 100%;
                        position: fixed;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1.12rem;
                      }
                      .logo_login {
                        width: 11.25rem;
                        height: 9.37rem;
                      }
                      
                      
                      
                      .container_login {
                        max-width: 100%;
                        display: block;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                      }
                      
                      .form {
                        max-width: 100%;
                        position: relative;
                        top: 16.12rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                      }
                      
                      .h1_principal {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: deeppink;
                        font-size: 2.5rem;
                      }
                      
                      form input[type="text"],
                      form input[type="password"],
                      form input[type="email"] {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: transparent;
                        color: #fff;
                        font-size: 1.12rem;
                        text-align: center;
                        max-width: 100%;
                        padding: 5px;
                        border: none;
                      }
                      
                      form input[type="submit"] {
                        background-color: transparent;
                        color: deeppink;
                        font-size: 1.12rem;
                        text-align: center;
                        border: none;
                        margin: 5px 180px;
                        padding: 20px;
                        border: 2px solid deepskyblue;
                        border-radius: 8px;
                        box-shadow: 0 5px 20px 0 deepskyblue;
                      }
                      
                      .input-cont {
                        margin-bottom: 15px;
                        border: 2px solid deepskyblue;
                        border-radius: 5px;
                        box-shadow: 0 5px 20px 0 deepskyblue;
                      }
                      
                      .icon {
                        min-width: 1.87em;
                        text-align: center;
                        color: deepskyblue;
                      }
                      
                      .span_login {
                        display: flex;
                        justify-content: left;
                        margin-top: 20.5px;
                        padding: 5px;
                        font-size: 1.37rem;
                        font-weight: 600;
                        font-family: "Monomaniac One", sans-serif;
                        color: deeppink;
                        box-shadow: 0 10px 20px 0 deeppink;
                      }
                      
                      .link_login {
                        margin-top: 24px;
                        border: 2px solid deeppink;
                        box-shadow: 0 10px 20px 0 deepskyblue;
                        text-decoration: none;
                        font-size: 1.37rem;
                        font-weight: bold;
                        color: deepskyblue;
                      }
                      
                      
                      form input[type="submit"]:hover {
                        background: #fff;
                      }
                      
                      .link_login:hover {
                        background: #fff;
                      }
                      
                      .icon-nav:hover {
                        background: deeppink;
                      }
                      
                      .volver{
                        margin-top: 24px;
                        border: 2px solid deeppink;
                        box-shadow: 0 10px 20px 0 deepskyblue;
                        text-decoration: none;
                        font-size: 1.37rem;
                        font-weight: bold;
                        color: deepskyblue;
                      }