$colores:(
    primario:#7fff00,
    secundario:#f30f9c,
    terciario:#000000bb,
    terciario-bold:black,
    cuartenario:#ff4500,
    quinario:#00d5ffe4,
    sextario: transparent,
    login-registro:#ff1493
);

