/*  Servicio Técnico(soporte) */
#Service {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
    margin-top: 0;
    .service-title {
      max-width: 100%;
      text-align: center;
      font-size: 2.25rem;
      color: map-get($colores,primario);
      margin-top: 150px;
    }
    .cont-services {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      gap: 8px;
      .cont-service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 20rem;
        .service-text {
          background-color:map-get($colores,sextario);
          text-align: center;
          font-size: 1.37rem;
          color:$color-tipografia;
          margin-top: 30px;
        }
        .service-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 1.37rem;
          background-color: map-get($colores,sextario) ;
          color: $color-tipografia;
          cursor: pointer;
          border:  $borde;
          border-radius: 8px;
          box-shadow: 2px 2px 2px 1px $color-tipografia;
          margin: 15px 15px;
          padding: 5px 5px;

        }
        .icon-service {       /*icono de los servicios*/
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 6.25rem;
          text-align: center;
          margin-bottom: 20px;
          width: 12.5rem;
          color:$color-iconos;
        }
      
      }
    
    }

  }



