@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap");

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Monomaniac One", sans-serif;
  background: url(../assets/backgrounds/background-index.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Chakra Petch", sans-serif;
}